body {
  font-family: sans-serif;
}

h1{
  font-family: 'Chelsea Market', cursive;
  font-size: 36pt;
  margin-top: 0em;
}

.subheader {
  font-size: medium;
  margin-top: -2em;
  margin-bottom: 2em;
}

p {
  margin: 8px 0 8px 0;
  padding-left: 4px;
  padding-right: 4px;
}

.tabletop {
  display: flex;
  flex: auto;
}

.tabletop>div {
  margin: 4px;
}

.controls button {
  padding: 2px 6px 2px 6px;
  font-weight: bold;
  margin: 2px;
  height: 2em;
}

.card_stack .card {
  background-color: #be9d7a;
}

.card {
  background-color: white;
  border: 4px solid black;
  border-radius: 8px;
  width: 250px;
  height: 375px;
  padding: 4px;
  display: grid;
  grid-template-rows: 2fr 3fr 3fr 60px;
  grid-template-columns: 1fr;
}

.card h2 {
  text-align: center;
}

.image_div img.blank_card {
  width: 55%;
}

.showall .card {
  display: inline-grid;
}

.image_div {
  text-align: center;
}

.image_div img {
  width: 60%;
}

.text_div p {
  font-style: italic;
  display: inline-block;
  padding: 8px;
}

.icon_div p {
  text-align: right;
  font-weight: bold;
  font-size: small;
}

.icon_div img {
  height: 55px;
  margin-bottom: 5px;
  vertical-align: middle;
}

.key img {
  height: 1.3em;
  margin-bottom: -10px;
}

.discards {
  position: relative;
}

.draw_button {}

.reset_button {}
